/* *,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
} */
html, body{
     /* overflow-y: hidden; */
     max-width: 100%;
     overflow-x:hidden;
}
#loading {
     /* (A1) COVER FULL PAGE */
     position: fixed;
     top: 0; left: 0; z-index: 999;
     width: 100vw; height: 100vh;
}
.container{
     margin: 0;
     
}
.navbar{
     background-color: #212529;
}
.nav-bar:hover{
     color: blue;
}

#hero-banner{
     background-color: blue;
}

.carousel-item:after {
     content:"";
     position:absolute;
     top:0;
     bottom:0;
     left:0;
     right:0;
     background:rgba(0,0,0,0.6);
   }
#card{
     background-color: #212529;
}
.card{ 
     height: auto;
     opacity: 0.5;
     transition: margin 0.2s ease-in-out;
     
}
.card:hover{
     opacity: 1;
     /* transition: margin 0.2s ease-in-out; */

}
.stretched-link::after {
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     z-index: 1;
     pointer-events: auto;
     content: "";
     background-color: rgba(0,0,0,0);
 }
.bg-image-f{
     /* background-size: 30vh; */
     
     /* background-position: center; */
     /* width: 200px;
  height: 200px; */
  display: block;
  position: relative;
     
}
.bg-image-f:after{
     content: "";
     background-size: 70vh;
     background-image: url(../img/radiohead.png);
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;   
     background-repeat: no-repeat;
     transform: rotate(20deg);
  /* background-position: left; */
}
.bg-image-s{
     /* background-size: 30vh; */
     
     /* background-position: center; */
     /* width: 200px;
  height: 200px; */
  display: block;
  position: relative;
 
     
}
.bg-image-s:after{
     content: "";
     background-size: 100vh;
     background-image: url(../img/11239.jpg);
     opacity: 0.5;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;   
     padding-top: 200px;
     background-repeat: no-repeat;
     background-position: left;
     transform: rotate(60deg);
  /* background-position: left; */
}

#shila{
     background: #212529;
}
.img-hover:hover{
     border: 1px solid #ddd;
     border-radius: 4px;
     padding: 5px;
     width: 150px;
     pointer-events: auto;
     box-shadow: 0 0 2px 1px rgba(0, 191, 255, 0.5);
}

#dede{
     background-color: #212529;
     
}
#rendy{
     background-color: #212529;

}
.reveal{
     position: relative;
     transform: translateY(150px);
     opacity: 0;
     transition: 2s all ease;
   }
   .reveal.active{
     transform: translateY(0);
     opacity: 1;
   }
   .social-icon-style2 li a {
     display: inline-block;
     font-size: 14px;
     text-align: center;
     color: #ffffff;
     background: #54456b;
     height: 41px;
     line-height: 41px;
     width: 41px;
 }
 .social-icon-style2 {
     margin-top: 20px;
     margin-bottom: 40px;
     /* padding-right: -20px; */
     display: flex;
     justify-content: space-between;
     /* padding-left: 10px; */
     list-style: none;
 }
@media only screen and (min-width: 720px){
     .social-icon-style2{
          justify-content: space-around;
          width: 200px;

     }
}
#btn-back-to-top {
     position: fixed;
     bottom: 20px;
     right: 20px;
     display: block;
}

.center {

     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin-top: 350px;
 }
 /* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
     display: table;
     width: 100%;
     height: 600px;
     /* background-image: url(../img/5.jpg); */
     background-color: #333;
     /*height: 100%; */
     /*min-height: 100%;*/
   }
   .site-wrapper-inner {
     display: table-cell;
     vertical-align: top;
   }
   .cover-container {
     margin-right: auto;
     margin-left: auto;
   }
   
   /* Padding for spacing */
   .inner {
     padding: 30px;
   }
   
   
   
   /*
    * Cover
    */
   
   .cover {
     padding: 0 20px;
   }
   .cover .btn-lg {
     padding: 10px 20px;
     font-weight: bold;
   }
   
   .center {
   
       position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       margin-top: 350px;
   }
   /*
    * Affix and center
    */
   
   @media (min-width: 768px) {
     /* Start the vertical centering */
     .site-wrapper-inner {
       vertical-align: middle;
     }
     
   
   }

@media only screen and (min-width: 720px){
     #shila{
          padding-top: 100px;
          height: 100vh;
     }   
     #fandi{
          padding-top: 100px;
          height: 95vh;
     }
     #diaz{
          padding-top: 100px;
          height: 95vh;
     }
     #dede{
          padding-top: 120px;
          height: 100vh;
     }
     #faiq{
          padding-top: 100px;
          height: 95vh;
     }
     #rendy{
          padding-top: 100px;
          height: 100vh;
     }
     #boye{
          padding-top: 100px;
          height: 95vh;
     }
     .card-ms{
          margin-left: 140px;
     }
     .center {

          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 300px;
      }
      .carousel{
          padding: 0 ,0,0,0px;
         
          background-color: #212529;
     }
     .carousel img{
          display: flex;
          justify-content: center;
          height: 610px;
          width: auto;
     }
      /* .img-height{
          height: 1000000px;
      } */
}

@media only screen and (width: 768px){
     .card-ms{
          margin-left: 90px;
     }
}
/* @media only screen and (min-width: 1024px){
     #fandi{
          padding-top: 1400000px;
          height: 85vh;
     }
     #shila{
          padding-top: 1000px;
          height: 85vh;
     }
} */


.col .card {
	/* position: relative; */
	/* width: auto; */
	/* height: 400px; */
	background: rgba(255, 255, 255, 0.05);
	/* margin: px; */
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	/* border-radius: 15px; */
	/* display: flex; */
	/* justify-content: center; */
	align-items: center;
	backdrop-filter: blur(10px);
}

.col .card .content {
	transition: 0.5s;
}

.col .card:hover .content {
	transform: translateY(-30px);
}

.col .card .sci {
	position: absolute;
	bottom: 10px;
	/* display: flex; */
}

.col .card .sci li {
	list-style: none;
	/* margin: 0 10px; */
	transform: translateY(20px);
	transition: 0.5s;
	opacity: 0;
}

.col .card:hover .sci li {
	transform: translatex(-16px);
	opacity: 1;
}

.col .card .sci li a {
	color: #fff !important;
	font-size: 20px;
}